body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background: rgb(165,202,218);
    background: linear-gradient(10deg, rgb(243, 232, 244) 0%, rgba(255,253,253,1) 100%);
    color: rgb(86, 84, 84);
    font-size: 20px;
    font-family: Oxygen, Ubuntu, sans-serif;
}

h1 span {
    color: #e25098;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 25px;
    width: 900px;
    align-self: center;
    border-radius: 15px;
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
}

.portrait {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.portrait img {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    align-self: start;
    justify-content: center;
    margin: 20px;
    width: 5%;
}

.icons a {
    text-decoration: none;
}

.icons a:hover {
    opacity: 0.6;
}

.icons img {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .portrait {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icons {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%
    }
  }