body {
    background-color: #523131ce;
    background-image: url(./background.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    color: #FFFFFF;
    font-family: fahkwang;
    text-align: center;
    font-weight: bold;
    height: 80px;
    line-height: 200%;
    margin: auto;
}

h2 {
    color: #FFFFFF;
    font-family: fahkwang;
    text-align: center;
    font-weight: bold;
    height: 80px;
    line-height: 100%;
    margin: auto; 
}

.portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 3px solid white;
    margin: auto;
    padding: 3px;
    width: 150px;
}

.portrait img {
    display: inline-block;
    width: 150px;
    height: auto;
}

#links {
    text-align: center;
}
.images {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;    
}
