.footer {
  bottom: calc(10px + 2vmin);
  width: 100%;
  text-align: center;
  position: absolute;
}

h1 {
    color: rgb(245, 52, 149);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    height: 100px;
    line-height: 300%;
    margin: auto;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    height: 80px;
    line-height: 250%;
    margin: auto; 
}

.portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 50%;
    margin: 100px auto;
    width: 225px;
}

a {
    text-decoration: none;
}

.icon {
    user-select: none;
    height: calc(25px + 2vmin);
    opacity: 0.65;
    transition: all 0.2s linear;
    padding-top: 100px;
    padding-right: 2px;
}